/* ---------------- Footer ----------------*/

.footer {
	background-color: $footer-bg;
	padding: rem-calc(60) 0;
	color: $secondary-color;

	a {color: $white;}

	& [href^=tel] {
		font-size: rem-calc(24);
		font-weight: 500;
	}
}
