/* ------------------ Sprites and icons ------------- */


%common-sprite-styles {
    // background-image: url(#{$spritesheet-image});

    display: inline-block;
    content: "";
    vertical-align: middle;
}

// General mixin to compile styles for all icons and it's retina view
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .icon-#{$sprite-name}:before {
      @include retina-sprite($retina-group);
      @extend %common-sprite-styles;
    }
  }
}

@include retina-sprites($retina-groups);

[class*='icon-'].before-text:before {
  vertical-align: -1px;
  margin-right: 4px;
}