/* ------------------ Labels ------------- */
$label-font-family: $body-font-family !default;
$label-font-size: rem-calc(11) !default;
$label-padding: rem-calc(0.33333 0.5) !default;
$label-padding-big: 0.7rem 0.6rem !default;


.label {
	font-weight: 900;
	font-family: $gilroy-font-family;

	&.big {
		padding: $label-padding-big;
		font-size: $label-font-size*2;
	}

	&.sale {
		background-color: $color-main;
		color: $white;
	}

	&.best-deal {
		background-color: $color-info;
		color: $black;
	}
}