/* ------------------ Menu ------------- */

$site-nav-font-size: rem-calc(18);
$site-nav-font-weight: 600;
$site-nav-header-font-padding: rem-calc(20) 0;
$site-nav-header-font-margin: rem-calc(35);
$site-nav-header-color: $white;
$site-nav-header-active-color: $accent-color;
$site-nav-footer-color: $primary-color;


// Navigation menu for header & footer

.site-nav-menu {
  @include menu-simple;

  display: inline-block;
  font-weight: $site-nav-font-weight;
  font-size: $site-nav-font-size;
  margin: 0;

  // Site navigation menu for HEADER

  .header & {
     & li {
      border-bottom: 4px solid transparent;
      padding: $site-nav-header-font-padding;
      margin-right: $site-nav-header-font-margin;

      & a {@include custom-anchor-styles($site-nav-header-color);}

      &.active {
        color: $site-nav-header-active-color;
        border-color: $site-nav-header-active-color;
      }
    }
  }

  // Site navigation menu for FOOTER

  .footer & {
    & li {line-height: 2.2}
    & a {@include custom-anchor-styles($site-nav-footer-color);}
  }

  // MEDIUM QUERIES for Site navigation menu    

  @include breakpoint(small only) {
    width: 100%;

    & li {
      width: 100%;
      text-align: center;
    }

    .header & {
      font-size: $site-nav-font-size * 1.5;

      & li {
        margin-right: 0;
        border-bottom: 0;
      }
    }
  }
}


// Footer secondary menu list

.subnav {
  @include menu-simple;

  margin-left: 0;
  font-weight: 500;


  & li {line-height: 2.2}

  & li > a {
    color: $secondary-color;
    @include custom-anchor-styles($secondary-color);
  }

  @include breakpoint(small only) {
    & li {width: 100%;}
  }
}


















