/* ------------------ Menu ------------- */

$site-nav-font-size: rem-calc(18);
$site-nav-font-weight: 600;
$site-nav-header-font-padding: rem-calc(20) 0;
$site-nav-header-font-margin: rem-calc(35);
$site-nav-header-color: $white;
$site-nav-header-active-color: $accent-color;
$site-nav-footer-color: $primary-color;

.site-nav-menu {
    @include menu-simple;

    display: inline-block;
    font-weight: $site-nav-font-weight;
    font-size: $site-nav-font-size;
    margin: 0;

    // Site navigation menu for HEADER

    .header & {
      li {
        border-bottom: 4px solid transparent;
        padding: $site-nav-header-font-padding;
        margin-right: $site-nav-header-font-margin;

        & a {color: $site-nav-header-color;}
        &.active {
          color: $site-nav-header-active-color;
          border-color: $site-nav-header-active-color;
        }
      }
    }

    // Site navigation menu for FOOTER

    .footer & {
      & a {color: $site-nav-footer-color;}

    }

    // MEDIUM QUERIES for Site navigation menu    

    @include breakpoint(small only) {
      font-size: $site-nav-font-size * 1.5;

      & li {
          width: 100%;
          text-align: center;
        }

      .header & {
        li {
          margin-right: 0;
          border-bottom: 0;
        }
      }
    }
}





