// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$appstore-name: 'appstore';
$appstore-x: 292px;
$appstore-y: 0px;
$appstore-offset-x: -292px;
$appstore-offset-y: 0px;
$appstore-width: 200px;
$appstore-height: 65px;
$appstore-total-width: 492px;
$appstore-total-height: 290px;
$appstore-image: '../../images/icons/dest/spritesheet.png';
$appstore: (292px, 0px, -292px, 0px, 200px, 65px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'appstore', );
$fb-name: 'fb';
$fb-x: 412px;
$fb-y: 134px;
$fb-offset-x: -412px;
$fb-offset-y: -134px;
$fb-width: 44px;
$fb-height: 44px;
$fb-total-width: 492px;
$fb-total-height: 290px;
$fb-image: '../../images/icons/dest/spritesheet.png';
$fb: (412px, 134px, -412px, -134px, 44px, 44px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'fb', );
$google-play-name: 'google-play';
$google-play-x: 292px;
$google-play-y: 67px;
$google-play-offset-x: -292px;
$google-play-offset-y: -67px;
$google-play-width: 200px;
$google-play-height: 65px;
$google-play-total-width: 492px;
$google-play-total-height: 290px;
$google-play-image: '../../images/icons/dest/spritesheet.png';
$google-play: (292px, 67px, -292px, -67px, 200px, 65px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'google-play', );
$gp-name: 'gp';
$gp-x: 366px;
$gp-y: 134px;
$gp-offset-x: -366px;
$gp-offset-y: -134px;
$gp-width: 44px;
$gp-height: 44px;
$gp-total-width: 492px;
$gp-total-height: 290px;
$gp-image: '../../images/icons/dest/spritesheet.png';
$gp: (366px, 134px, -366px, -134px, 44px, 44px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'gp', );
$lang-eng-name: 'lang-eng';
$lang-eng-x: 458px;
$lang-eng-y: 134px;
$lang-eng-offset-x: -458px;
$lang-eng-offset-y: -134px;
$lang-eng-width: 24px;
$lang-eng-height: 24px;
$lang-eng-total-width: 492px;
$lang-eng-total-height: 290px;
$lang-eng-image: '../../images/icons/dest/spritesheet.png';
$lang-eng: (458px, 134px, -458px, -134px, 24px, 24px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'lang-eng', );
$loy-logo-name: 'loy-logo';
$loy-logo-x: 292px;
$loy-logo-y: 134px;
$loy-logo-offset-x: -292px;
$loy-logo-offset-y: -134px;
$loy-logo-width: 72px;
$loy-logo-height: 44px;
$loy-logo-total-width: 492px;
$loy-logo-total-height: 290px;
$loy-logo-image: '../../images/icons/dest/spritesheet.png';
$loy-logo: (292px, 134px, -292px, -134px, 72px, 44px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'loy-logo', );
$map-mark-name: 'map-mark';
$map-mark-x: 428px;
$map-mark-y: 180px;
$map-mark-offset-x: -428px;
$map-mark-offset-y: -180px;
$map-mark-width: 12px;
$map-mark-height: 18px;
$map-mark-total-width: 492px;
$map-mark-total-height: 290px;
$map-mark-image: '../../images/icons/dest/spritesheet.png';
$map-mark: (428px, 180px, -428px, -180px, 12px, 18px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'map-mark', );
$play-name: 'play';
$play-x: 384px;
$play-y: 180px;
$play-offset-x: -384px;
$play-offset-y: -180px;
$play-width: 42px;
$play-height: 42px;
$play-total-width: 492px;
$play-total-height: 290px;
$play-image: '../../images/icons/dest/spritesheet.png';
$play: (384px, 180px, -384px, -180px, 42px, 42px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'play', );
$promo-get-name: 'promo-get';
$promo-get-x: 146px;
$promo-get-y: 0px;
$promo-get-offset-x: -146px;
$promo-get-offset-y: 0px;
$promo-get-width: 144px;
$promo-get-height: 144px;
$promo-get-total-width: 492px;
$promo-get-total-height: 290px;
$promo-get-image: '../../images/icons/dest/spritesheet.png';
$promo-get: (146px, 0px, -146px, 0px, 144px, 144px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'promo-get', );
$promo-payoff-name: 'promo-payoff';
$promo-payoff-x: 0px;
$promo-payoff-y: 146px;
$promo-payoff-offset-x: 0px;
$promo-payoff-offset-y: -146px;
$promo-payoff-width: 144px;
$promo-payoff-height: 144px;
$promo-payoff-total-width: 492px;
$promo-payoff-total-height: 290px;
$promo-payoff-image: '../../images/icons/dest/spritesheet.png';
$promo-payoff: (0px, 146px, 0px, -146px, 144px, 144px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'promo-payoff', );
$promo-visit-name: 'promo-visit';
$promo-visit-x: 0px;
$promo-visit-y: 0px;
$promo-visit-offset-x: 0px;
$promo-visit-offset-y: 0px;
$promo-visit-width: 144px;
$promo-visit-height: 144px;
$promo-visit-total-width: 492px;
$promo-visit-total-height: 290px;
$promo-visit-image: '../../images/icons/dest/spritesheet.png';
$promo-visit: (0px, 0px, 0px, 0px, 144px, 144px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'promo-visit', );
$search-inverse-name: 'search-inverse';
$search-inverse-x: 458px;
$search-inverse-y: 160px;
$search-inverse-offset-x: -458px;
$search-inverse-offset-y: -160px;
$search-inverse-width: 14px;
$search-inverse-height: 16px;
$search-inverse-total-width: 492px;
$search-inverse-total-height: 290px;
$search-inverse-image: '../../images/icons/dest/spritesheet.png';
$search-inverse: (458px, 160px, -458px, -160px, 14px, 16px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'search-inverse', );
$search-name: 'search';
$search-x: 474px;
$search-y: 160px;
$search-offset-x: -474px;
$search-offset-y: -160px;
$search-width: 14px;
$search-height: 16px;
$search-total-width: 492px;
$search-total-height: 290px;
$search-image: '../../images/icons/dest/spritesheet.png';
$search: (474px, 160px, -474px, -160px, 14px, 16px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'search', );
$tw-name: 'tw';
$tw-x: 292px;
$tw-y: 180px;
$tw-offset-x: -292px;
$tw-offset-y: -180px;
$tw-width: 44px;
$tw-height: 44px;
$tw-total-width: 492px;
$tw-total-height: 290px;
$tw-image: '../../images/icons/dest/spritesheet.png';
$tw: (292px, 180px, -292px, -180px, 44px, 44px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'tw', );
$vk-name: 'vk';
$vk-x: 338px;
$vk-y: 180px;
$vk-offset-x: -338px;
$vk-offset-y: -180px;
$vk-width: 44px;
$vk-height: 44px;
$vk-total-width: 492px;
$vk-total-height: 290px;
$vk-image: '../../images/icons/dest/spritesheet.png';
$vk: (338px, 180px, -338px, -180px, 44px, 44px, 492px, 290px, '../../images/icons/dest/spritesheet.png', 'vk', );
$appstore-2x-name: 'appstore@2x';
$appstore-2x-x: 584px;
$appstore-2x-y: 0px;
$appstore-2x-offset-x: -584px;
$appstore-2x-offset-y: 0px;
$appstore-2x-width: 400px;
$appstore-2x-height: 130px;
$appstore-2x-total-width: 984px;
$appstore-2x-total-height: 580px;
$appstore-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$appstore-2x: (584px, 0px, -584px, 0px, 400px, 130px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'appstore@2x', );
$fb-2x-name: 'fb@2x';
$fb-2x-x: 824px;
$fb-2x-y: 268px;
$fb-2x-offset-x: -824px;
$fb-2x-offset-y: -268px;
$fb-2x-width: 88px;
$fb-2x-height: 88px;
$fb-2x-total-width: 984px;
$fb-2x-total-height: 580px;
$fb-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$fb-2x: (824px, 268px, -824px, -268px, 88px, 88px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'fb@2x', );
$google-play-2x-name: 'google-play@2x';
$google-play-2x-x: 584px;
$google-play-2x-y: 134px;
$google-play-2x-offset-x: -584px;
$google-play-2x-offset-y: -134px;
$google-play-2x-width: 400px;
$google-play-2x-height: 130px;
$google-play-2x-total-width: 984px;
$google-play-2x-total-height: 580px;
$google-play-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$google-play-2x: (584px, 134px, -584px, -134px, 400px, 130px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'google-play@2x', );
$gp-2x-name: 'gp@2x';
$gp-2x-x: 732px;
$gp-2x-y: 268px;
$gp-2x-offset-x: -732px;
$gp-2x-offset-y: -268px;
$gp-2x-width: 88px;
$gp-2x-height: 88px;
$gp-2x-total-width: 984px;
$gp-2x-total-height: 580px;
$gp-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$gp-2x: (732px, 268px, -732px, -268px, 88px, 88px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'gp@2x', );
$lang-eng-2x-name: 'lang-eng@2x';
$lang-eng-2x-x: 916px;
$lang-eng-2x-y: 268px;
$lang-eng-2x-offset-x: -916px;
$lang-eng-2x-offset-y: -268px;
$lang-eng-2x-width: 48px;
$lang-eng-2x-height: 48px;
$lang-eng-2x-total-width: 984px;
$lang-eng-2x-total-height: 580px;
$lang-eng-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$lang-eng-2x: (916px, 268px, -916px, -268px, 48px, 48px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'lang-eng@2x', );
$loy-logo-2x-name: 'loy-logo@2x';
$loy-logo-2x-x: 584px;
$loy-logo-2x-y: 268px;
$loy-logo-2x-offset-x: -584px;
$loy-logo-2x-offset-y: -268px;
$loy-logo-2x-width: 144px;
$loy-logo-2x-height: 88px;
$loy-logo-2x-total-width: 984px;
$loy-logo-2x-total-height: 580px;
$loy-logo-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$loy-logo-2x: (584px, 268px, -584px, -268px, 144px, 88px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'loy-logo@2x', );
$map-mark-2x-name: 'map-mark@2x';
$map-mark-2x-x: 856px;
$map-mark-2x-y: 360px;
$map-mark-2x-offset-x: -856px;
$map-mark-2x-offset-y: -360px;
$map-mark-2x-width: 24px;
$map-mark-2x-height: 36px;
$map-mark-2x-total-width: 984px;
$map-mark-2x-total-height: 580px;
$map-mark-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$map-mark-2x: (856px, 360px, -856px, -360px, 24px, 36px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'map-mark@2x', );
$play-2x-name: 'play@2x';
$play-2x-x: 768px;
$play-2x-y: 360px;
$play-2x-offset-x: -768px;
$play-2x-offset-y: -360px;
$play-2x-width: 84px;
$play-2x-height: 84px;
$play-2x-total-width: 984px;
$play-2x-total-height: 580px;
$play-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$play-2x: (768px, 360px, -768px, -360px, 84px, 84px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'play@2x', );
$promo-get-2x-name: 'promo-get@2x';
$promo-get-2x-x: 292px;
$promo-get-2x-y: 0px;
$promo-get-2x-offset-x: -292px;
$promo-get-2x-offset-y: 0px;
$promo-get-2x-width: 288px;
$promo-get-2x-height: 288px;
$promo-get-2x-total-width: 984px;
$promo-get-2x-total-height: 580px;
$promo-get-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$promo-get-2x: (292px, 0px, -292px, 0px, 288px, 288px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'promo-get@2x', );
$promo-payoff-2x-name: 'promo-payoff@2x';
$promo-payoff-2x-x: 0px;
$promo-payoff-2x-y: 292px;
$promo-payoff-2x-offset-x: 0px;
$promo-payoff-2x-offset-y: -292px;
$promo-payoff-2x-width: 288px;
$promo-payoff-2x-height: 288px;
$promo-payoff-2x-total-width: 984px;
$promo-payoff-2x-total-height: 580px;
$promo-payoff-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$promo-payoff-2x: (0px, 292px, 0px, -292px, 288px, 288px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'promo-payoff@2x', );
$promo-visit-2x-name: 'promo-visit@2x';
$promo-visit-2x-x: 0px;
$promo-visit-2x-y: 0px;
$promo-visit-2x-offset-x: 0px;
$promo-visit-2x-offset-y: 0px;
$promo-visit-2x-width: 288px;
$promo-visit-2x-height: 288px;
$promo-visit-2x-total-width: 984px;
$promo-visit-2x-total-height: 580px;
$promo-visit-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$promo-visit-2x: (0px, 0px, 0px, 0px, 288px, 288px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'promo-visit@2x', );
$search-inverse-2x-name: 'search-inverse@2x';
$search-inverse-2x-x: 916px;
$search-inverse-2x-y: 320px;
$search-inverse-2x-offset-x: -916px;
$search-inverse-2x-offset-y: -320px;
$search-inverse-2x-width: 28px;
$search-inverse-2x-height: 32px;
$search-inverse-2x-total-width: 984px;
$search-inverse-2x-total-height: 580px;
$search-inverse-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$search-inverse-2x: (916px, 320px, -916px, -320px, 28px, 32px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'search-inverse@2x', );
$search-2x-name: 'search@2x';
$search-2x-x: 948px;
$search-2x-y: 320px;
$search-2x-offset-x: -948px;
$search-2x-offset-y: -320px;
$search-2x-width: 28px;
$search-2x-height: 32px;
$search-2x-total-width: 984px;
$search-2x-total-height: 580px;
$search-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$search-2x: (948px, 320px, -948px, -320px, 28px, 32px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'search@2x', );
$tw-2x-name: 'tw@2x';
$tw-2x-x: 584px;
$tw-2x-y: 360px;
$tw-2x-offset-x: -584px;
$tw-2x-offset-y: -360px;
$tw-2x-width: 88px;
$tw-2x-height: 88px;
$tw-2x-total-width: 984px;
$tw-2x-total-height: 580px;
$tw-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$tw-2x: (584px, 360px, -584px, -360px, 88px, 88px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'tw@2x', );
$vk-2x-name: 'vk@2x';
$vk-2x-x: 676px;
$vk-2x-y: 360px;
$vk-2x-offset-x: -676px;
$vk-2x-offset-y: -360px;
$vk-2x-width: 88px;
$vk-2x-height: 88px;
$vk-2x-total-width: 984px;
$vk-2x-total-height: 580px;
$vk-2x-image: '../../images/icons/dest/spritesheet@2x.png';
$vk-2x: (676px, 360px, -676px, -360px, 88px, 88px, 984px, 580px, '../../images/icons/dest/spritesheet@2x.png', 'vk@2x', );
$spritesheet-width: 492px;
$spritesheet-height: 290px;
$spritesheet-image: '../../images/icons/dest/spritesheet.png';
$spritesheet-sprites: ($appstore, $fb, $google-play, $gp, $lang-eng, $loy-logo, $map-mark, $play, $promo-get, $promo-payoff, $promo-visit, $search-inverse, $search, $tw, $vk, );
$spritesheet: (492px, 290px, '../../images/icons/dest/spritesheet.png', $spritesheet-sprites, );
$retina-spritesheet-width: 984px;
$retina-spritesheet-height: 580px;
$retina-spritesheet-image: '../../images/icons/dest/spritesheet@2x.png';
$retina-spritesheet-sprites: ($appstore-2x, $fb-2x, $google-play-2x, $gp-2x, $lang-eng-2x, $loy-logo-2x, $map-mark-2x, $play-2x, $promo-get-2x, $promo-payoff-2x, $promo-visit-2x, $search-inverse-2x, $search-2x, $tw-2x, $vk-2x, );
$retina-spritesheet: (984px, 580px, '../../images/icons/dest/spritesheet@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$appstore-group-name: 'appstore';
$appstore-group: ('appstore', $appstore, $appstore-2x, );
$fb-group-name: 'fb';
$fb-group: ('fb', $fb, $fb-2x, );
$google-play-group-name: 'google-play';
$google-play-group: ('google-play', $google-play, $google-play-2x, );
$gp-group-name: 'gp';
$gp-group: ('gp', $gp, $gp-2x, );
$lang-eng-group-name: 'lang-eng';
$lang-eng-group: ('lang-eng', $lang-eng, $lang-eng-2x, );
$loy-logo-group-name: 'loy-logo';
$loy-logo-group: ('loy-logo', $loy-logo, $loy-logo-2x, );
$map-mark-group-name: 'map-mark';
$map-mark-group: ('map-mark', $map-mark, $map-mark-2x, );
$play-group-name: 'play';
$play-group: ('play', $play, $play-2x, );
$promo-get-group-name: 'promo-get';
$promo-get-group: ('promo-get', $promo-get, $promo-get-2x, );
$promo-payoff-group-name: 'promo-payoff';
$promo-payoff-group: ('promo-payoff', $promo-payoff, $promo-payoff-2x, );
$promo-visit-group-name: 'promo-visit';
$promo-visit-group: ('promo-visit', $promo-visit, $promo-visit-2x, );
$search-inverse-group-name: 'search-inverse';
$search-inverse-group: ('search-inverse', $search-inverse, $search-inverse-2x, );
$search-group-name: 'search';
$search-group: ('search', $search, $search-2x, );
$tw-group-name: 'tw';
$tw-group: ('tw', $tw, $tw-2x, );
$vk-group-name: 'vk';
$vk-group: ('vk', $vk, $vk-2x, );
$retina-groups: ($appstore-group, $fb-group, $google-play-group, $gp-group, $lang-eng-group, $loy-logo-group, $map-mark-group, $play-group, $promo-get-group, $promo-payoff-group, $promo-visit-group, $search-inverse-group, $search-group, $tw-group, $vk-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
